*{
    margin: 0;
    padding: 0;
}

:root{
    --cor--fonte--:#1D87AB;
    --cor--text--:#1B7D9E;
    --cor--fundo--:#053B50;
    --cor--botao--:#1B7D9E;
    
}

#titulo{
    font-family: sans-serif;
    color:var(--cor--fonte--);
    margin-left: 22%;
}

#subtitulo{
    font-family: sans-serif;
    color:var(--cor--fonte--);
    margin-left: 28%;
}

#check{
    display: inline-block;
}

.principal{
    height: 100vh;
    margin-top: 2%;
}

fieldset{
    border: 0;
}

body{
    background-color:var(--cor--fundo--);
    font-family: sans-serif;
    font-size: 1em;
    color: var(--cor--text--);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: black;
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: var(--cor--text--);
    display:block;
}

fieldset.grupo .campo{
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

.botao {
    font-size: 1.2em;
    background: var(--cor--botao--);
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-left: 35%;
}


.botao:hover{
    background: #ccbffc;
    box-shadow: inset 2px 2px 2px rgba(0, 0,0, 0.2);
    text-shadow: nome;
}

.botao, select{
    cursor: pointer;
}

section{
    width: 100%;
}

.rodape{
        background-color: #176B87;
        color: white;
        padding: 1em ;
        text-align: center;
        font-family: sans-serif;
}

@media (max-width: 1000px){
    .principal{
        margin-left: 4%;
    }
    body{
        width: auto;

    }

    section{
        width: 100%;
    }

    
.rodape{
    background-color: #176B87;
    color: white;
    padding: 1em ;
    text-align: center;
    font-family: sans-serif;
}
}